@page "/"

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>The Procrastinator</h1>

<h2>Procrastinations: @currentCount</h2>

<button class="btn btn-primary" @onclick="IncrementCount">Manual rusty machine</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        LocalStorage.SetItemAsync("quantity", currentCount);
    }
}