@page "/"
@using System.Threading
@using procrastinator.Models
@using System.Text.Json;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>The Procrastinator</h1>

<h2>Procrastinations: @totalProcrastination</h2>
<p>You are making @speed procrastinations per second!</p>
<button class="btn btn-primary" @onclick="ManualIncrement">Manual rusty machine (+1)</button>

<ItemsStore OnTotalProcrastinationChanged="TotalProcrastinationChanged"
            OnItemsChanged="ItemsChanged"
            totalProcrastination="totalProcrastination"
            items="items">
</ItemsStore>

@code {
    private string saveKey = "procrastination";
    private decimal totalProcrastination = 0;
    private int speed = 0;
    private ICollection<Item> items { get; set; } = new List<Item>();
    private static Timer _timer;
    private const int timerInterval = 200;
    private const int saveInterval = 10000;
    private int timerIntervalAccumulated = 0;

    protected override async void OnInitialized()
    {
        _timer = new Timer(Callback, null, 0, timerInterval);

        await Load();
    }
 
    private void Callback(object state)
    {
        CalculateAndApplyProcrastinations();

        timerIntervalAccumulated += timerInterval;
        if (timerIntervalAccumulated >= saveInterval)
        {
            timerIntervalAccumulated = 0;
            Save();
        }
    }

    private void CalculateAndApplyProcrastinations()
    {
        var totalProcToAdd = 0;
        foreach (var item in items)
        {
            totalProcToAdd += item.Power * item.Total;
        }
        speed = totalProcToAdd;

        float totalProcToAddOnStep = (totalProcToAdd/(1000.0f/timerInterval));

        totalProcrastination += decimal.Round((decimal)totalProcToAddOnStep, 2, MidpointRounding.AwayFromZero);

        this.StateHasChanged();
    }

    private void ManualIncrement()
    {
        totalProcrastination++;
    }

    private void Save()
    {
        var saveData = new SaveData(totalProcrastination, items);
        var jsonData = JsonSerializer.Serialize<SaveData>(saveData);

        LocalStorage.SetItemAsync(saveKey, jsonData);
    }

    private async Task Load()
    {
        try
        {
            var loadedString = await LocalStorage.GetItemAsync<string>(saveKey);
            if (loadedString == null)
            {
                Save();
            }
            else
            {
                var saveData = JsonSerializer.Deserialize<SaveData>(loadedString);
                totalProcrastination = saveData.Quantity;
                items = saveData.Items;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public void TotalProcrastinationChanged(decimal totalProc)
    {
        totalProcrastination = totalProc;
    }
    public void ItemsChanged(ICollection<Item> newItems)
    {
        items = newItems;
    }
}